body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

a {
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    text-decoration: none;
}

.navContainer{
    display: flex;
    justify-content: center;
}

.navSpacing{
    margin-bottom: 0px;
    height: 8vh;
    width: 100%;
    position: fixed;
    border: none;
}

.landingPageContainer{
    height: 100vh;
    background-image: url(imgs/marius-masalar-132751.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeText{
    color: black;
    font-family: sans-serif;
    width: 50%;
    margin-left: 45%;
}

.welcomeName{
    font-size: 40px;
    font-weight: bolder;
}
.welcomeSubTitle{
    font-size: 25px;
    font-weight: bold;
}

.aboutMeContainer{
    background: #F6FAF5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #5B5B5B;
}

.aboutMePhoto{
    background-image:url(imgs/AliviaAndI.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.aboutMeText{
    width:75vw;
}

.skillsContainer{
    background: #5B5B5B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.portfolioContainer{
    background: green;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.contactMeContainer{
    background: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}